<%= form_with(model: order_line) do |form| %>
  <% if order_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>

      <ul>
        <% order_line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Product_id %>
    <%= form.text_field :Product_id %>
  </div>

  <div class="field">
    <%= form.label :Order_id %>
    <%= form.text_field :Order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
