<%= form_with(model: promotion) do |form| %>
  <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :take %>
    <%= form.number_field :take %>
  </div>

  <div class="field">
    <%= form.label :pay %>
    <%= form.number_field :pay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
