<p id="notice"><%= notice %></p>

<p>
  <strong>Take:</strong>
  <%= @promotion.take %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @promotion.pay %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
