<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Código de barras</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Leve</th>
      <th>Pague</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.description %></td>
        <td><%= product.order_number %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.take %></td>
        <td><%= product.pay %></td>
        <td><%= link_to 'Mostrar', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo produto', new_product_path %>
